# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
XML Parser/.vs/
MsdnXML/MsdnXML/.vs/
msdnCSVThing/C#/.vs/CSXslTransformXml/v14/.suo
msdnCSVThing/C#/Debug/CSXslTransformXml.pdb
msdnCSVThing/C#/Debug/CSXslTransformXml.vshost.exe.manifest
